name: Automated Preprocessing

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn

      - name: Run preprocessing script
        run: |
          python Eksperimen_MSML_Vanesya-Meisyarah/preprocessing/automate_Vanesya-Meisyarah.py
